body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../gambar/original-fe0ccf0a050c98651760672ebe2f5e4b.webp");
    background-size: cover; /* Make the image cover the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
}

.tombol-submit{
    width: 350px;
    height: 50px;
    border-radius: 60px;
    font-weight: 700;
    border: black;
    background-color: black;
    color: white;
    margin: 10px;
    transition: .5s;
}

.tombol-submit:hover {
    background: white;
    color: black;
}
.form-box {
    color: rgb(0, 0, 0);
}


.error-box{
    height: 50px;
    width: 355px;
    margin: 20px;
    font-size: large;
    font-weight: 400;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
    padding: 10px;
}



.main{
    position: relative;
    width: 440px;
    height:370px;
    background: transparent;
    border: 2px solid rgb(241, 234, 234);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    overflow: hidden;
}

.main.aktif{
    margin-top: 150px;
    height: 520px;
}

.main .form-box{
    width: 100%;
    padding: 40px;
}

.main .form-box.login{
    transition: transform .20s ease;
    transform: translateX(0);
}
.main.aktif .form-box.login{
    transition: none;
    transform: translateX(-400px);
}


.main .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(-400px);
}
.main.aktif .form-box.register{
    transition: transform .20s ease;;
    transform: translateX(0);
}

.form-box h1 {
    text-align: center;
}

.main .form-box.register{
    
    position: absolute;
    transform: translateX(400px);
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid ;
    margin: 20px 0;
    
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 0 35px 0 5px;
    
}

.input-box .icon{
    position: absolute;
    right: 8px;
    line-height: 57px;
}

.inget-pass{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.box-drop{
    margin-top: 20px;
    margin-bottom: 10px;
}